<div fxLayout="column" fxLayoutGap="20px">
  <h1>
    Send Message (Message will only be sent on this number:
    {{ contact?.phone }} if this is verified by Twilio Account Admin)
  </h1>
  <div fxLayout="row wrap">
    <span class="m-t-4 p-l-4">
      <input type="text" [value]="otp ? otp : ''" readonly />
      <button
        fxLayoutAlign="center center"
        mat-raised-button
        class="Primary m-t-12 p-l-4"
        (click)="generateOTP()"
      >
        Generate OTP
      </button></span
    >
  </div>
  <div>
    <form [formGroup]="messageForm" fxLayout="column">
      <span><H3>Enter Your Message Here</H3></span>
      <textarea rows="4" cols="50" formControlName="message"> </textarea>
    </form>
  </div>
  <div>
    <button
      [disabled]="messageForm?.invalid || !otp"
      fxLayoutAlign="center center"
      mat-raised-button
      class="Primary m-t-12 p-l-4"
      (click)="sendMessage()"
    >
      Send Message
    </button>
  </div>
</div>
<div class="m-t-20" fxLayout="column">
  <h1>Additional Otp verification Service(Works on any number)</h1>

  <form [formGroup]="otpForm" fxLayout="column">
    <input
      formControlName="phoneNumber"
      placeholder="Enter number that has to be verified (without +91 extension)"
      type="text"
    />
    <button
      [disabled]="!otpForm?.get('phoneNumber')?.value"
      (click)="verifyPhoneNumber()"
      mat-raised-button
      class="Primary m-t-12 p-l-4"
    >
      Verify Number
    </button>
    <input
      class="m-t-12"
      formControlName="otp"
      placeholder="Enter twilio-app otp Recieved on phone"
      type="text"
    />
    <button
      [disabled]="!otpForm?.get('otp')?.value"
      (click)="verifyOneTimePassword()"
      mat-raised-button
      class="Primary m-t-12 p-l-4"
    >
      Verify OTP
    </button>
  </form>
</div>
